<ul class="nav__list">
  <li class="nav__item"><a href="#" class="nav__anchor">home</a></li>
  <li class="nav__item"><a href="#" class="nav__anchor">about</a></li>
  <li class="nav__item"><a href="#" class="nav__anchor">FAQ</a></li>
  <li class="nav__item"><a href="#" class="nav__anchor">contacts</a></li>
  <li class="nav__item"><a href="#" class="nav__anchor">team</a></li>
</ul>
